In [2]:
%load_ext autoreload
%autoreload 2

from mimic_iv_analysis.configurations.params import DEFAULT_STUDY_TABLES_LIST
from mimic_iv_analysis.io import DataLoader, TableNames, ParquetConverter, ExampleDataLoader
import pandas as pd

import dask.dataframe as dd

# from dask.distributed import Client
# client = Client(n_workers=4, threads_per_worker=4, processes=True, memory_limit='8GB')
# client

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
# example = ExampleDataLoader(partial_loading=False, num_subjects=10, apply_filtering=True)
# df = example.load_merged_tables()

In [3]:
loader = DataLoader()

In [3]:
# df = loader.load_one_table(table_name=TableNames.ADMISSIONS, partial_loading=True, num_subjects=10)

In [4]:
df_merged = loader.load(table_name=TableNames.MERGED, partial_loading=False)

In [6]:
subject_ids = loader.all_subject_ids(df=df_merged, table_name=TableNames.MERGED)

In [9]:
len(subject_ids)
df_merged.columns

Index(['subject_id', 'gender', 'anchor_age', 'anchor_year',
       'anchor_year_group', 'dod', 'hadm_id', 'admittime', 'dischtime',
       'deathtime', 'admission_type', 'admit_provider_id',
       'admission_location', 'discharge_location', 'insurance', 'language',
       'marital_status', 'race', 'edregtime', 'edouttime',
       'hospital_expire_flag', 'transfer_id', 'eventtype', 'careunit',
       'intime', 'outtime', 'seq_num', 'icd_code', 'icd_version', 'long_title',
       'poe_id', 'poe_seq', 'ordertime', 'order_type', 'order_subtype',
       'transaction_type', 'discontinue_of_poe_id', 'discontinued_by_poe_id',
       'order_provider_id', 'order_status', 'field_name', 'field_value'],
      dtype='object')

In [11]:
{1,2,3,5} - {2,6}

{1, 3, 5}

In [10]:
df_merged.shape[0].compute()

4954531901

In [7]:
df_merged.compute()

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,hadm_id,admittime,dischtime,deathtime,...,poe_id,poe_seq,ordertime,order_type,order_subtype,transaction_type,order_provider_id,order_status,field_name,field_value
40,10012206,M,45,2127,2017 - 2019,<NA>,23961896,2127-07-04 01:16:00,2127-07-14 17:00:00,NaT,...,10012206-115,115,2127-07-04 15:55:43,Medications,<NA>,New,P85BG7,Inactive,<NA>,<NA>
41,10012206,M,45,2127,2017 - 2019,<NA>,23961896,2127-07-04 01:16:00,2127-07-14 17:00:00,NaT,...,10012206-125,125,2127-07-04 15:55:43,Lab,<NA>,New,P85BG7,Inactive,<NA>,<NA>
42,10012206,M,45,2127,2017 - 2019,<NA>,23961896,2127-07-04 01:16:00,2127-07-14 17:00:00,NaT,...,10012206-126,126,2127-07-04 19:40:47,Medications,<NA>,Change,P07TGN,Inactive,<NA>,<NA>
43,10012206,M,45,2127,2017 - 2019,<NA>,23961896,2127-07-04 01:16:00,2127-07-14 17:00:00,NaT,...,10012206-135,135,2127-07-05 12:01:40,Consults,ERCP/Advanced Endoscopy,New,P353J1,Inactive,Consult Status,Placed Under Review
44,10012206,M,45,2127,2017 - 2019,<NA>,23961896,2127-07-04 01:16:00,2127-07-14 17:00:00,NaT,...,10012206-135,135,2127-07-05 12:01:40,Consults,ERCP/Advanced Endoscopy,New,P353J1,Inactive,Consult Status Time,2127-07-05 14:35:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5662,10194829,M,64,2129,2017 - 2019,<NA>,22814207,2129-06-17 21:16:00,2129-06-18 19:02:00,NaT,...,10194829-21,21,2129-06-17 22:32:28,Nutrition,Diet Order,New,P98IAD,Inactive,<NA>,<NA>
5663,10194829,M,64,2129,2017 - 2019,<NA>,22814207,2129-06-17 21:16:00,2129-06-18 19:02:00,NaT,...,10194829-43,43,2129-06-18 06:47:39,General Care,Telemetry,Change,P98OEX,Inactive,<NA>,<NA>
5883,10221027,M,30,2141,2017 - 2019,<NA>,25081303,2141-03-30 03:00:00,2141-03-30 09:48:00,NaT,...,10221027-28,28,2141-03-30 05:12:54,ADT orders,Admit,New,P93BCO,Inactive,Admit category,Place in observation
5884,10221027,M,30,2141,2017 - 2019,<NA>,25081303,2141-03-30 03:00:00,2141-03-30 09:48:00,NaT,...,10221027-28,28,2141-03-30 05:12:54,ADT orders,Admit,New,P93BCO,Inactive,Admit to,ED - Observation
5885,10221027,M,30,2141,2017 - 2019,<NA>,25081303,2141-03-30 03:00:00,2141-03-30 09:48:00,NaT,...,10221027-34,34,2141-03-30 05:12:54,Nutrition,Diet Order,New,P93BCO,Inactive,<NA>,<NA>